# Build output
compiler/build/

# Object files
*.o
*.obj

# Wii build artifacts
*.elf
*.dol

# Executables
*.exe
*.out

# Editor / IDE
*.swp
*.swo
*~
.vscode/

# OS files
Thumbs.db
.DS_Store

vscode-calynda/*.vsix
*.zip